body{
    background-color: teal;
}

#head{
    display: flex;
    justify-content: space-between;
}

#startBtn{
    display: flex;
    justify-content: center;
}

#questions{
    text-align: center;
}

#set{
    display: flex;
    justify-content: center;
}



#score{
    background-color: teal;
    font-size: medium;
}